<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>内容確認</h1>
    <table border="1">
        <thead>
            <tr>
                <th>お名前</th>
                <th>メールアドレス</th>
                <th>お問い合わせ内容</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${inquiry.getName()}"></td>
                <td th:text="${inquiry.getMail()}"></td>
                <td th:text="${inquiry.getContent()}" style="width:300px;"></td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/showAll}" method="post" th:object="${inquiry}">
        <input type="hidden" th:field="*{name}">
        <input type="hidden" th:field="*{mail}">
        <input type="hidden" th:field="*{content}">
        <input type="submit" value="登録します" style="color:blue;">
    </form>

</body>
</html>